html {
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #2E2F22;
  word-wrap: break-word;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* .button-up {
  position: relative;
  width: 1200px;
  margin: 0 auto;
} */

.header {
  margin: 0;
  font-family: "Spectral SC", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.button {
  padding: 12px 51px 11px 51px;
  line-height: 21px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.0);
  text-transform: uppercase;
  cursor: pointer;
}

.button-up__button {
  position: fixed;
  display: none;
  right: 125px;
  bottom: 195px;
  width: 50px;
  height: 50px;
  background-color: #D7D1C9;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

.button-up__shown {
  display: inline-block;
}

.page-header {
  width: 100%;
  margin-bottom: 80px;
  min-width: 1200px;
  min-height: 581px;
  background-color: #ffffff;
  background-image: url("../img/index-baner@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.page-header--articles {
  margin-bottom: 85px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/index-baner@2x.jpg");
    background-size: 1440px;
  }
}

.page-header--articles {
  background-image: url("../img/article-baner@1x.jpg");
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header--articles {
    background-image: url("../img/article-baner@1x.jpg");
    background-size: 1440px;
  }
}

.heade-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.heade-nav__logo img{
  display: block;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  min-width: 610px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__items {
  align-self: center;
}

.main-nav__item {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #2E2F22;
  text-decoration: none;
}

/* main index*/
/* index articles */

.articles-main {
  margin-bottom: 85px;
}

.articles__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles__layout-head {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  margin-bottom: 50px;
}

.header-article {
  margin-top: 5px;
}

.theme__lists {
  position: relative;
  list-style: none;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  z-index: 10;
}

.theme__items {
  width: 202px;
  background-color: #D7D1C9;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}



.theme__list {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.theme__item {
  width: 202px;
  background-color: #D7D1C9;
  box-sizing: border-box;
}

.theme__item:first-child {
  /* padding-top: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.theme__item:last-child {
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.theme__items a{
  display: block;
  padding: 10px 60px 5px 19px;
  text-decoration: none;
  color: #2E2F22;
}

.theme__items > a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 15px;
  width: 22px;
  height: 20px;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.theme__items > a {
  position: relative;
  padding-bottom: 10px;
}

.theme__items:hover  .theme__list,
.theme__items:focus .theme__list {
  display: block;
  z-index: 5;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.article__list-big {
  margin-bottom: 44px;
}

.article__items {
  display: flex;
  width: 387px;
  margin-right: calc(20px - 0.5px);
  margin-bottom: 62px;
}

.article__items:nth-child(3n) {
  margin-right: 0;
}

.article__items-big {
  display: flex;
  width: 387px;
  margin-right: auto;
  margin-bottom: 62px;
  width: 590px;
}

.article__items-big:nth-child(2n) {
  margin-right: 0;
}

.article__items-big > .article__item {
  color: #ffffff;
}

.article__item {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: #2E2F22;
}

.article__item > picture {
  margin-bottom: 28px;
}

.article__items-big > a > picture {
  margin-bottom: 0px;
}

.article__img {
  display: block;
  width: 387px;
  height: 268px;
  border-radius: 10px;
}

.article__img--big {
  width: 590px;
  height: 550px;
}

.article__header {
  margin: 0;
  margin-bottom: 7px;
  font-family: "Spectral SC", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.article__text {
  margin: 0;
  margin-bottom: 12px;
}

.article__layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: auto;
  opacity: 0.7;
}

.article__layout > p {
  margin: 0;
}

.position-layout {
  position: absolute;
  bottom: 64px;
  left: 82px;
  width: 426px;
}

.article__button {
  padding-left: 57px;
  padding-right: 57px;
  text-transform: none;
}

/* about-me */

.about-me {
  margin-bottom: 85px;
}

.header-about-me {
  text-align: center;
  margin-bottom: 50px;
}

.about-me__layout {
  display: flex;
  justify-content: space-between;
}

.about-me__img {
  width: 590px;
  margin: 0;
  padding: 0;
}

.about-me__img img{
  display: block;
}

.about-me__decription {
  position: relative;
  width: 590px;
  padding-top: 42px;
  padding-left: 20px;
  box-sizing: border-box;
}

.about-me__decription > p {
  margin: 0;
  width: 508px;
}

.about-me__decription > p {
  margin-bottom: 26px;
}

.about-me__decription > p:last-of-type {
  margin-bottom: 101px;
}

.about-me__cite {
  margin: 0;
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
}

.about-me__decription::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -3px;
  width: 3px;
  height: 214px;
  background-color:#D7D1C9;
}

.about-me__link-text:link,
.about-me__link-text:visited {
  color: #2E2F22;
}

/* portfolio */

.portfolio {
  margin-bottom: 85px;
}

.header-portfolio {
  margin-bottom: 50px;
  text-align: center;
}

.partfolio__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partfolio__list {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  margin: 0;
  margin-bottom: 104px;
  padding: 0;
  list-style: none;
}

.partfolio__items {
  width: 386px;
  min-height: 525px;
  text-align: center;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}

.partfolio__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 140px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #2E2F22;
  box-sizing: border-box;
}

.partfolio__item h3,
.partfolio__item p {
  margin: 0;
}

.partfolio__items:nth-child(1) {
  background-color: #D9E3E1;
  background-image: url("../img/image-8@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .partfolio__items:nth-child(1) {
    background-image: url("../img/image-8@2x.jpg");
    background-size: 386px 525px;
  }
}

.partfolio__items:nth-child(2) {
  background-color:#000000;
  background-image: url("../img/image-7@1x.jpg");
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .partfolio__items:nth-child(2) {
    background-image: url("../img/image-7@2x.jpg");
    background-size: 386px 525px;
  }
}

.partfolio__items:nth-child(3) {
  background-color: #EFF0F4;
  background-image: url("../img/image-9@1x.jpg");
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .partfolio__items:nth-child(3) {
    background-image: url("../img/image-9@2x.jpg");
    background-size: 386px 525px;
  }
}

.partfolio__items:nth-child(2) a {
  color: #ffffff;
}

.partfolio__item h3 {
  margin-bottom: 44px;
  font-family: "Spectral SC", serif;
  font-size: 20px;
  line-height: 30px;
}

.partfolio__item .partfolio__slogon {
  margin-bottom: 17px;
  font-family: "Spectral SC", serif;
  font-size: 18px;
  line-height: 28px;
}

/* feedback */

.feedback__width {
  width: 996px;
  min-height: 637px;
  background-image: url("../img/bg-form-index@1x.jpg");
  background-position: top;
  border-radius: 10px;
}

.header-feedback {
  margin-bottom: 50px;
  text-align: center;
}

.feedback__form-wrapp {
  margin: 0;
  padding: 0;
  padding-top: 53px;
  border: none;
}

.feedback__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__layout-elm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feedback__form-elment {
  width: 407px;
  margin: 0;
  margin-bottom: 20px;

}

.feedback__form-elment--messege {
  width: 837px;
  margin-left: 1px;
  margin-bottom: 13px;
}

.feedback__form-elment > label{
  margin-bottom: 12px;
  margin-right: 20px;
  font-family: "Spectral SC", serif;
  font-size: 18px;
  line-height: 28px;
}

.text-counter {
  font-style: italic;
  font-size: 14px;
}

.text-name {
  display: none;
  font-style: italic;
  font-size: 14px;
}

.text-email {
  display: none;
  font-style: italic;
  font-size: 14px;
}

.feedback__form-elment > input,
.feedback__form-elment--messege > textarea{
  width: 100%;
  padding: 22px 18px 21px 18px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  opacity: 0.4;
}

.feedback__form-elment > textarea {
  min-height: 293px;
  padding-left: 20px;
  resize: vertical;
}

.feedback__layout p:first-child {
  margin-right: 20px;
}

.feedback__button {
  padding-left: 64px;
  padding-right: 64px;
}

.feedback__button[disabled],
.form-comments__button[disabled] {
  border-color: rgba(0, 0, 0, 0.15);
  cursor: default;
}

.text-war .feedback__name,
.text-war .feedback__email,
.text-war .comment-name__autor,
.text-war .comment-email {
  color: red;
}

.warning .message-counter,
.warning .char-counter,
.warning .form-comments__user,
.warning .form-comment__char-counter {
  color: red;
}

/* articles */

.article {
  width: 997px;
  margin-bottom: 65px;
}

.artical__title {
  margin-bottom: 7px;
}

.artical__layout-meta {
  display: flex;
  align-items: baseline;
  opacity: 0.7;
}

.artical__layout-meta p {
  margin: 0;
  margin-right: 29px;
}

.article > header {
  margin-bottom: 50px;
}

.article__layuot {
  margin-bottom: 41px;
}

.article__layuot p {
  width: 980px;
  margin: 0;
  margin-bottom: 26px;
}

.article__layuot p:nth-of-type(2) {
  margin-bottom: 40px;
}

.article__image {
  margin: 0px;
  margin-bottom: 40px;
  padding: 0px;
}

.article__image img {
  display: block;
  margin-bottom: 9px;
}

.article__image-desk {
  margin: 0px;
  padding: 0px;
}

.article__image-desk > small {
  font-size: 14px;
}

.article__footer-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.article__footer-link {
  display: block;
  text-decoration: none;
  color: #2E2F22;
}

.article__footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 214px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.article__link{
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #2E2F22;
  text-decoration: none;
}

.article__link svg {
  margin-left: 20px;
  vertical-align: middle;
}

.article__footer-icon {
  margin-right: 10px;
  vertical-align: bottom;
}

.article__footer-text {
  font-size: 24px;
  line-height: 26px;

}

/* user-comments */

.user-comments {
  width: 793px;
}

.user-comments__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 429px;
  margin: 0px;
  margin-bottom: 78px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 0px;
  padding-left: 102px;
  list-style: none;
  background-color: #ECE1E1;
  border-radius: 10px;
}

.user-comments__item {
  margin-bottom: 15px;
}

.user-comments__item:last-child {
  margin-bottom: 0;
}


.user-comments__item img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
}

.user-comments__item blockquote{
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}

.user-comments__autor {
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.user-comments__text {
  margin: 0;
  margin-top: 15px;
  line-height: 21px;
  font-size: 16px;
}

.user-comments__form fieldset {
  margin: 0px;
  padding: 0px;
  border: none
}

.form-comments__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-left: 82px;
  margin-bottom: 62px;
}

.form-comments__layout {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.form-comments__layout-elem {
  display: flex;
  flex-direction: column;
  width: 224px;
  padding-left: 82px;
}

.form-comments__element {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0;
  margin-bottom: 28px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
}

.form-comments__element > label {
  margin-right: 15px;
}

.form-comments__element:nth-child(1) > label {
  margin-right: 29px;
}

.form-comments__element > input {
  width: 100%;
  padding: 10px;
  border: none;
  box-sizing: border-box;
}

.form-comments__button {
  margin-top: auto;
  text-transform: none;
}

.form-comments__layout  textarea{
  width: 406px;
  min-height: 209px;
  margin-top: 7px;
  padding: 20px 19px;
  resize: vertical;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 10px;
}

.form-comment__text-counter {
  position: absolute;
  right: 114px;
  bottom: -30px;
  font-size: 14px;
  font-style: italic;
}

/* footer */

.main-footer {
  display: flex;
  justify-content: center;
  min-height: 181px;
  margin-top: 80px;
  padding-top: 56px;
  background-color: #D7D1C9;
  box-sizing: border-box;
}

.main-footer__list {
  display: flex;
  justify-content: space-between;
  width: 630px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__link {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  line-height: 24px;
  color: #2E2F22;
  text-decoration: none;
}
